# Ігнорувати папку з налаштуваннями PyCharm
.idea/

# Ігнорувати папку з даними (картинками)
data/

# Ігнорувати збережені ваги моделі (вони зазвичай важкі)
checkpoints/

# Ігнорувати віртуальне середовище (якщо є)
venv/
.env.vent
data/
__pycache__/
.ipynb_checkpoints/
.idea/
data/
